{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="estadísticas-bloque1">
    <div class="bloque1-figura"></div>
    <div class="bloque1-contenedor">
        <img src="{% static 'img/estadisticas-men.png' %}">
        <div class="bloque1-contenedor-texto">
            <h1>Gráficas y estadísticas</h1>
            <p>Entérate de los datos estadísticos más recientes e interesantes de cada una de las enfermedades mentales</p>
        </div>
    </div>
</section>

<section class="estadísticas-bloque2">
    <div class="selectbox">
        <div class="select" id="select">
            <div class="contenido-select">
                <h1 class="titulo">Enfermedades</h1>
            </div>
            <i class="fas fa-angle-down flechita"></i>
        </div>

        <div class="opciones" id="opciones">
            <a class="opcion" onclick="drawChart4(1)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Depresión</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(6)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Psicosis</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(7)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Alcoholismo</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(2)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Violencia familiar</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(4)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Ansiedad</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(3)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Trastornos alimentarios</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(5)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Intento de suicidio</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(8)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Consumo de drogas</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(9)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Violencia escolar</h1>
                </div>
            </a>
            <a class="opcion" onclick="drawChart4(0)">
                <div class="contenido-opcion">
                    <h1 class="titulo">Trastorno de comportamiento</h1>
                </div>
            </a>
        </div>
    </div>

    <div class="bloque2-estadísticas">
        <div class="bloque2-busquedas">
            <select id="departamento">
                <option value="1"> Ancash</option>
                <option value="2"> Apurimac</option>
                <option value="3" selected> Arequipa</option>
                <option value="4"> Ayacucho</option>
                <option value="5"> Cajamarca</option>
                <option value="6"> Callao</option>
                <option value="7"> Cuzco</option>
                <option value="8"> Huancavelica</option>
                <option value="9"> Huanuco</option>
                <option value="10"> Ica</option>
                <option value="11"> Junin</option>
                <option value="12"> La Libertad</option>
                <option value="13"> Lambayeque</option>
                <option value="14"> Lima</option>
                <option value="15"> Loreto</option>
                <option value="16"> Madre de Dios</option>
                <option value="17"> Moquegua</option>
                <option value="18"> Piura</option>
                <option value="19"> Puno</option>
                <option value="20"> San Martin</option>
                <option value="21"> Tacna</option>
                <option value="22"> Ucayali</option>
                <option value="23"> Pasco</option>
            </select>
            <select  id="etapa">
                <option value="0" selected> < 1</option>
                <option value="1"> 1 - 4</option>
                <option value="2"> 5 - 9</option>
                <option value="3"> 10 - 11</option>
                <option value="4"> 12 - 14</option>
                <option value="5"> 15 - 17</option>
                <option value="6"> 18 - 24</option>
                <option value="7"> 25 - 29</option>
                <option value="8"> 30 - 39</option>
                <option value="9"> 40 - 59</option>
                <option value="10"> 60 - 79</option>
                <option value="11"> 80 a más</option>
            </select>
            <select  id="genero">
                <option value="0" selected >Masculino</option>
                <option value="1">Femenino</option>
            </select>
        </div>

        <h2 id="desGrafica">Arequipa</h2>
        <div class="grafico">
            <div id="chart_div" ></div> 
        </div>
    </div>       
</section>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
    