{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="estadísticas-bloque1">
    <div class="bloque1-figura"></div>
    <div class="bloque1-contenedor">
        <img src="{% static 'img/estadisticas-men.png' %}">
        <div class="bloque1-contenedor-texto">
            <h1>Gráficas y estadísticas</h1>
            <p>Entérate de los datos estadísticos más recientes e interesantes de cada una de las enfermedades mentales</p>
        </div>
    </div>
</section>

<section class="estadísticas-bloque2">
    <div class="bloque2-enfermedades">
        <h2>Enfermedades</h2>
        <a class="bloque2-enfermedad" onclick="drawChart4(1)">Depresión</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(6)">Psicosis</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(7)">Alcoholismo</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(2)">Violencia familiar</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(4)">Ansiedad</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(3)">Transtornos alimentarios</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(5)">Intento de suicidio</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(8)">Consumo de drogas</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(9)">Violencia escolar</a>
        <a class="bloque2-enfermedad" onclick="drawChart4(0)">Transtorno de comportamiento</a>
        <a></a>
        <a></a>
    </div>

    <div class="bloque2-estadísticas">
        <div class="bloque2-busquedas">
            <select   id="departamento">
                <option value="1"> Ancash</option>
                <option value="2"> Apurimac</option>
                <option value="3" selected> Arequipa</option>
                <option value="4"> Ayacucho</option>
                <option value="5"> Cajamarca</option>
                <option value="6"> Callao</option>
                <option value="7"> Cuzco</option>
                <option value="8"> Huancavelica</option>
                <option value="9"> Huanuco</option>
                <option value="10"> Ica</option>
                <option value="11"> Junin</option>
                <option value="12"> La Libertad</option>
                <option value="13"> Lambayeque</option>
                <option value="14"> Lima</option>
                <option value="15"> Loreto</option>
                <option value="16"> Madre de Dios</option>
                <option value="17"> Moquegua</option>
                <option value="18"> Piura</option>
                <option value="19"> Puno</option>
                <option value="20"> San Martin</option>
                <option value="21"> Tacna</option>
                <option value="22"> Ucayali</option>
                <option value="23"> Pasco</option>
                <option value="24" >Elige</option>
            </select>
            <select  id="etapa">
                <option value="0" selected> < 1</option>
                <option value="1"> 1 - 4</option>
                <option value="2"> 5 - 9</option>
                <option value="3"> 10 - 11</option>
                <option value="4"> 12 - 14</option>
                <option value="5"> 15 - 17</option>
                <option value="6"> 18 - 24</option>
                <option value="7"> 25 - 29</option>
                <option value="8"> 30 - 39</option>
                <option value="9"> 40 - 59</option>
                <option value="10"> 60 - 79</option>
                <option value="11"> 80 a más</option>
            </select>
            <select  id="genero">
                <option value="0" selected >Masculino</option>
                <option value="1">Femenino</option>
                
            </select>
        </div>

        <!--<img class="gráfica" src="img/Gráfica.png">--> 
        <div id="chart_div" ></div> 
        <div class="bloque2-cifras">
            <h3 class="cifras">25</h3>
            <p class="texto">Casos graves</p>
            <h3 class="cifras">11</h3>
            <p class="texto">Casos recientes</p>
            <h3 class="cifras">54</h3>
            <p class="texto">Total de casos</p>
        </div>
        <h2 id="desGrafica">Arequipa</h2>
    </div>       
</section>

<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
    