{% extends 'index.html' %}
{% load static %}
{% block content %}

<div id="formulario" class="contenido">
    <h1>¿Cómo esta tu salud mental?</h1>
    <p>Con estas preguntas usted podrá identificar señales tempranas y solicitar ayuda profesional.</p>
    <div class="tarjeta">
      {% for instance in Preguntas %}
        <div class="pregunta">
            <div  class="pregunta__texto">
              <h4 class="pregunta__texto-title">Pregunta <span class="pregunta-texo__title--span">1 </span></h4>
              <p class="pregunta__texto-parrafo">
                {{instance.pregunta}}
              </p>
            </div>            
        </div>
      {%endfor%} 
        <div class="tarjeta__img-box">
          <img class ="tarjeta__img-box--img" src="{% static 'img/test.png'%}" alt="">
        </div>
    </div>
    <div class="opciones">
      <div  id="si" class="opcion opcion__si">SI</div>
      <div  id="no" class="opcion opcion__no">NO</div>
    </div>
    <div class="carga-box">
      <div id="barra-carga" class="carga__barra"></div>
    </div>
</div>

    <div id="respuesta" class="respuesta">
      <h2>Resultados</h2>
      <div class="box-resultado">
        <div class="veces">
          <p>Usted Indicó <br><span id="cantidadVeces">0</span><br> veces sí</p>
        </div>
        <div class="texto-resp">
          <p>Si ha respondido “sí” a más de cinco preguntas no hay duda de que tiene que consultar lo más pronto posible con profesionales de la salud mental. </p>
        </div>
      </div>
      <div class="avalado">
        Este test fue realizado por la Unidad de Salud EL TIEMPO con la asesoría de la Asociación Colombiana de Psiquiatría y no tiene valor diagnóstico. Solo es una guía para identificar tempranamente posibles trastornos que deben ser revisados por profesionales de la salud.
      </div>
    </div>
{% endblock content %}
  
