
<!-- Seccion de html que incluye todo el codigo referente al navBar -->
{% block content %}
     <div class="boxHeader">
        <header>
        <div class="navbar">
            <ul class="ul-navbar">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'enfermedad' pk=1 %}">Enfermedades</a></li>
                <li><a href="{% url 'formulario'%}">Llena nuestro test</a></li>
            </ul>
        </div>
        <div class="test">
            {% if user.is_authenticated %} 
            <a href="{% url 'logout'%}">Cerrar sesión</a>
            {% else %}
            <a href="{% url 'login'%}">Iniciar</a><a href="{% url 'register'%}">/Registrar</a>
            {% endif %}
        </div>
        <div class="burger">
            <div class="burger-box">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        </header>
    </div>
{% endblock %}    