{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="contenido">
    <section class="mapa">
        <h1>Ubica tu Centro de Salud más cercano </h1>
        <select class="comentarios__select" name="centro__medico" id="centro__medico">
            <option class="comentarios__opcion" >Arequipa</option>
            <option class="comentarios__opcion" >Moquegua</option>
            <option class="comentarios__opcion" >Tacna</option>
        </select>
        <div class="mapita"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30617.460068502012!2d-71.55053257942197!3d-16.415554717576825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424ae4cd919067%3A0xab84b9bd3dadadb0!2sHospital%20Regional%20Honorio%20Delgado%20Espinoza!5e0!3m2!1ses!2spe!4v1626828931975!5m2!1ses!2spe" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
    <section class="comentarios">
        <h2 class="comentarios__title">Dejanos tus comentarios</h2>
        <input placeholder="Escribe tu comentario"class="comentarios_text-input" type="text"> 
        <div class="comentarios__options-buton">
            <select class="comentarios__select" name="centro__medico" id="centro__medico">
                <option class="comentarios__opcion" >Atención clínica 1</option>
                <option class="comentarios__opcion" >Atención Clinica 2</option>
                <option class="comentarios__opcion" >Atención Clinica 3</option>
            </select>
            <input class="comentarios__submit-input" type="submit">
        </div>
        <div class="comentario">
            <div class="comentario__box-foto">
                <img class="comentario__img" src="img/rostro.jpg" alt="foto_usuario">
            </div>
            <div class="comentario__box-comentario">
                <div class="comentario__datos">
                    <h4 class="comentario__nombre">Juan Quispe</h4>
                </div>
                <div class="comentario__texto">
                    Reribi muy buena atención departe del psicolog,muchas gracias.
                </div>
            </div>
        
        </div>
        <div class="comentario">
            <div class="comentario__box-foto">
                <img class="comentario__img" src="img/rostro.jpg" alt="foto_usuario">
            </div>
            <div class="comentario__box-comentario">
                <div class="comentario__datos">
                    <h4 class="comentario__nombre">Juan Quispe</h4>
                </div>
                <div class="comentario__texto">
                    Reribi muy buena atención departe del psicolog,muchas gracias.
                </div>
            </div>
        
        </div>
        <div class="comentario">
            <div class="comentario__box-foto">
                <img class="comentario__img" src="img/rostro.jpg" alt="foto_usuario">
            </div>
            <div class="comentario__box-comentario">
                <div class="comentario__datos">
                    <h4 class="comentario__nombre">Juan Quispe</h4>
                </div>
                <div class="comentario__texto">
                    Reribi muy buena atención departe del psicolog,muchas gracias.
                </div>
            </div>
        
        </div>
        <div class="ver">
            <a class="ver__link" href="consejos.html">Mostrar más comentarios</a>
        </div>
    </section>
</div>
<script src="js/script.js"></script>
{% endblock content %}
    