<!DOCTYPE html>
<!-- Seccion de html que incluye todo el codigo referente a la homepage-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Incluye toda la seccion de codigo del navbar -->
    {% include 'navbar.html'%}
    <!-- Incluye toda la seccion de codigo de codigo del body de la homepage -->
    {% include 'body.html'%}
</body>
</html>