{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- Incluye toda la seccion de codigo del carrusel de enfermedades -->
    {% include 'carrusel_enfermedades.html'%}
    <section class="enfermedad">
        <h2>Ansiedad</h2>
        <div class="descripcion">
            <p> La ansiedad es una emoción común y normal de las personas frente a 
                situaciones estresantes y de incertidumbre y la emoción cumple una 
                función útil que permite adaptarnos a la vida. Este tipo de ansiedad 
                puede hacerte estar alerta, ayudándote a ser más productivo y a 
                realizar el trabajo de manera más eficiente. Hay momentos en los que 
                la ansiedad más que resultarnos útil se convierte en un obstáculo para
                 llevar una vida normal. </p>
	    <img src="{% static 'img/enfermedades/ansiedad.png' %}">
        </div>
        <h2>Estrategias</h2>
        <div class="estrategias">
		<img src="{% static 'img/cerebro.png' %}">
            <ul>
                <li>Búsqueda de apoyo social: apoyo proporcionado
                    por un grupo de amigos, familiares u otros, centrado en la disposición del afecto y recibir apoyo emocional </li>
                <li>Búsqueda de apoyo profesional: busqueda de apoyo    
                    profesional para tener mayor información sobre el         
                    problema de la ansiedad y sobre las alternativas para enfrentarlo.</li>
                <li>Evitación emocional: se refiere a la movilización de
                    recursos enfocados a ocultar o inhibir las propias
                    emociones de uno.</li>
                <li> Evitación cognitiva: se busca neutralizar los pensamientos valorados como negativos o
                     perturbadores, por medio de la distracción y la actividad. </li>
            </ul>
        </div>
    </section>
{% endblock content %}
    