
<!-- Seccion de html que incluye todo el codigo referente al carrusel de imagenes de enfermedades -->
{% load static %}
{% block content %}
<section class="bloque-carrusel">
    <div class="images glide">
        <div class="glide__track" data-glide-el="track">                  
            <ul class="glide__slides">
                
                {% for enfermedad in object_list  %}
                <li class="glide__slide">
                    <a href="{% url 'ansiedad' %}"><img src="{{enfermedad.imagenEF.url}}" alt=""></a>
                </li>
                {% endfor %}
                    
                <li class="glide__slide">
                    <a href="{% url 'ansiedad' %}"><img src="{% static 'img/carrusel-nombres/ansiedad.png' %}" alt=""></a>
                </li>

                <li class="glide__slide">
                    <a href="{% url 'psicosis' %}"><img src="{% static 'img/carrusel-nombres/psicosis.png' %}" alt=""></a>
                </li>

                <li class="glide__slide">
                    <a href="{% url 'violenciafamiliar' %}"><img src="{% static 'img/carrusel-nombres/violencia.png' %}" alt=""></a>
                </li>

                <li class="glide__slide">
                    <a href="{% url 'depresion' %}"><img src="{% static 'img/carrusel-nombres/depresion.png' %}" alt=""></a>
                </li>

                <li class="glide__slide">
                    <a href="{% url 'alcoholismo' %}"><img src="{% static 'img/carrusel-nombres/alcoholismo.png' %}" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
<!--GLIDE-->
<script src="{% static 'js/script3.js' %}"></script>
{% endblock %}  
