{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consejos</title>
    <link rel="Stylesheet" href="{% static 'css/consejos.css' %}">
</head>
<body>
    {% include 'navbar.html'%}

    </div>
        <div class="contenido">
            <div class="title">
                <img src="{% static 'img/iconoConsejos.png' %}" alt="">
        <h1>Algunos consejos</h1>
    </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Haz ejercicio</h2>
                <p>Es probable que te sientas más feliz, más satisfecho con la vida y que mejore tu sensación de bienestar si eres físicamente activo.</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta1.png' %}" alt="">
            </div>
        </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Habla con confianza</h2>
                <p>Siempre que estés con algún amigo cuéntale tus problemas y que este haga lo mismo. Te sentirás más liberado si te relacionas con gente a la que le importas</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta2.png' %}" alt="">
            </div>
        </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Come saludable</h2>
                <p>Una buena alimentación complementa una buena salud mental, no es necesario que no te des un gusto de vez en cuando pero es mejor no exagerar.</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta3.png' %}" alt="">
            </div>
        </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Duerme bien</h2>
                <p>Se recomienda dormir 8 horas al día, sabemos que no todos contamos con el tiempo pero siempre busca tener un sueño placentero para despertar fortalecido.</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta4.png' %}" alt="">
            </div>
        </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Haz lo que te gusta</h2>
                <p>Todos tenemos algo que nos gusta hacer, no es malo dedicarle tiempo a ello, escucha música, baila, diviértete.</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta5.png' %}" alt="">
            </div>
        </div>
        <div class="boxConsejo">
            <div class="boxText">
                <h2>Mantente en familia</h2>
                <p>Siempre ten contacto con tu familia, ellos son tu primer apoyo emocional</p>
            </div>
            <div class="boxImg">
                <img src="{% static 'img/tarjeta6.png' %}" alt="">
            </div>
        </div>
    </div>

</body>
</html>