{% extends 'index.html' %}
{% load static %}
{% block content %}
 
<section class="bloque-carrusel">
    <div class="images glide">
        <div class="glide__track" data-glide-el="track">                  
            <ul class="glide__slides">
                
                {% for enfermedad in enfermedades_lista %}
                <li class="glide__slide">
                        <a href="{% url 'enfermedad' enfermedad.id %}" ><img src="{{enfermedad.imagenET.url}}" alt=""></a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</section>
<section class="enfermedad">
    <h2>{{ object.nombreE }}</h2>
    <div class="descripcion">
        <p> {{ object.descripcionE }} </p>
    <img src="{{object.imagenEF.url}}">
    </div>
    <h2>Estrategias</h2>
    <div class="estrategias">
    <img src="{% static 'img/cerebro.png' %}">
        <ul>
            {{ object.estrategia|linebreaksbr}}
        </ul>
    </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
<!--GLIDE-->
<script src="{% static 'js/script3.js' %}"></script>
{% endblock content %}
    