{% extends 'index.html' %}
{% load static %}

{% block content %}
{% include 'carrusel_enfermedades.html'%}
<section class="enfermedad">
    <h2>Psicosis</h2>
    <div class="descripcion">
        <p>El término «psicosis» se emplea para referirse a aquellos trastornos de la mente caracterizados por una cierta pérdida de contacto con la realidad. Cuando una persona sufre este tipo de trastorno se dice que ha tenido un «episodio psicótico».</p>
        <img src="{% static 'img/enfermedades/psicosis.png' %}">
    </div>
    <h2>Estrategias</h2>
    <div class="estrategias">
            <img src="{% static 'img/cerebro.png' %}">
        <ul>
            <li>Prevención primaria:</li><br>
            <li>Consiste en reducir los factores de riesgo que aumentan la incidencia y, por tanto, que no aparezca una enfermedad o trastorno. Entre ellos, el factor genético, el trauma y abuso infantil, el acoso escolar, el consumo de cannabis</li><br>
            <li>Prevención secundaria:</li><br>
    <li>Es aquella que se lleva a cabo una vez que se ha tenido el primer episodio psicótico y que ambos expertos coinciden en que es crucial, sobre todo destacan la intervención temprana.</li><br>
        </ul>
    </div>
</section>
{% endblock content %}
    



